BasedOnStyle: Mozilla
IndentWidth: 2
ColumnLimit: 100 

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveAssignments: AcrossComments

AlignConsecutiveMacros: AcrossEmptyLines
AlignConsecutiveMacros: AcrossComments

AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveDeclarations: AcrossEmptyLines
AlignConsecutiveDeclarations: AcrossComments

AlignEscapedNewlines: Right

AlignOperands: AlignAfterOperator

AlignTrailingComments: true

